/*start with mobile layout*/

*{
	margin: 0px;
	padding: 0px; 
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

header{
	background-image: url(images/cityHallLove.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

header li{
	padding: 3px;
	text-align: center;
	font-color: white;
}

.nav-item a {
	color: white;
	text-shadow: .07em .07em black;

}
.nav-item a h3{
	display: inline-block;
	visibility: hidden;
}
.material-icons{
	font-size: 30px;
}

.jsHeaderSticky{
	position: fixed;
	top: 0;
	background-color: lightgrey;
	opacity: .97;
	padding: 0 auto;
	margin: 0 auto;
	/*font-size: 1em;*/
/*	color: black;*/
	border-bottom: 1px dotted grey;
	width: 100%;
}

.jsStickyNavItem{
	font-size: 20px;
	color: black;
	text-shadow: none;
}

.jsStickyH3{
	color: black;
	font-size: 10px;
	text-shadow: none;
	display: inline;
}

.text-section img{
	width: 10%;
	border-radius: 5%;
	float: left;
	margin: 1%; 
}

.text-section {
	padding: 3%;
}
.text-section h1{
	text-align: center;
	font-size: 2em;
}

.text-section p {
	padding: 1%;
	text-align: justify;
}

.text-section p:last-child {
	border-bottom: 1px dashed black;
	padding: 1% 1% 2% 1%;
}
#listings img{
	height: 150px;
	width: 150px;
}

li {
	list-style: none;
}

#listings {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
	width: 95%;

}
#listings h1{
	grid-column: 1 / 6; 
	grid-row: 1 / 2;
}

#listings h2{
	grid-column: 1 / 6; 
	grid-row: 2 / 3;
}

#prev{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	border: 1px solid green;
}

#listing-item1{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	border: 1px solid brown;
}

#listing-item2{
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	border: 1px solid brown;
}
#listing-item3{
	grid-column: 4 / 5;
	grid-row: 3 / 4;
	border: 1px solid brown;
}

#next {
	grid-column: 5 / 6;
	grid-row: 3 / 4;
	border: 1px solid red;
}

.listing-items img{
	display: block;
	margin: 0 auto;
	width: 750px;	
	border: 1px solid purple;
}

@media all and (min-width: 481px) and (max-width: 992px){
	header{
		height: 300px;
	}
	ul{
		display: flex;
  		justify-content: center;
	}
	ul li {
		padding: 2%;
		font-size: 1.25em;
	}
	.nav-item a{
			text-shadow: .12em .12em black;
	}
	.nav-item a h3{
		display: block;
		font-size: 1.5em;
	}
	#sjkre-floater{
		padding: 4% 6%;
	}
}

@media all and (min-width: 993px){
	header{
		height: 600px;
	}
	ul{
		display: flex;
  		justify-content: center;
	}
	ul li {
		padding: 2%;
		font-size: 1.75em;
	}
	.nav-item a{
			text-shadow: .2em .2em .2em black;
	}
	.nav-item a h3{
		display: block;
		font-size: 2em;
	}
	#sjkre-floater{
		padding: 4% 6%;
	}
}
